@use 'styles/constants/colors';
@use 'styles/mixins/text';

.detail {
  padding: 20px;

  .backBtn {
    @include text.body1;
  }

  .top {
    display: grid;
    grid-template-columns: 64px 1fr;
    align-items: center;

    > img {
      width: 100%;
    }
  }

  .content {
    h1 {
      @include text.heading1;
    }

    h2 {
      @include text.heading2;
    }

    h3 {
      @include text.heading3;
    }

    h4 {
      @include text.body1;
    }

    ol,
    ul {
      padding: 8px;
    }

    li {
      margin-left: 16px;
      list-style: circle;
    }

    div,
    p {
      margin: 4px;
    }
  }
}
