@use 'styles/mixins/text';

.home {
  .ad {
    display: block;
    width: 100%;
    padding: 20px;

    > img {
      width: 100%;
    }
  }

  .noData {
    @include text.heading2;
    text-align: center;
  }
}
