@use 'styles/constants/colors';
@use 'styles/mixins/text';

.issueCard {
  @include text.body4;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 20px 0;
  margin: 20px;
  border-bottom: 1px solid colors.$GRAY3;

  .top {
    display: flex;
    justify-content: space-between;

    .left {
      @include text.body1;
      display: flex;
      gap: 8px;
    }

    .comments {
      min-width: 80px;
      text-align: right;
    }
  }

  .bottom {
    display: flex;
    gap: 8px;
  }

  > a {
    color: colors.$GRAY2;
  }
}
